/* EditarPerfil.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.profile-image1{
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: auto;
}
.Container-father-PerfilUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

.Card-PerfilUsuario {
    display: flex;
    flex-direction: column;
    width: 550px;
    border: 2px solid #1E88E5;
    backdrop-filter: blur(9px);
    color: #ffffff;
    border-radius: 12px;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color: #ffffff00;

}

.Card-PerfilUsuario .h2-Editar {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
}

.Card-PerfilUsuario label {
    margin-bottom: 8px;
    font-weight: 400;
}

.Card-PerfilUsuario input{
    margin-bottom: 15px;
    padding: 7px;
}
.Card-PerfilUsuario button {
    margin-bottom: 15px;
}
.Card-PerfilUsuario img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    border-radius: 100%;
}

.BtnEditar {
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;    
    font-weight: 600;
}
.BtnEditar:hover{
    background: #fff;
    color: #333;
}

/*IMAGEN PERFIL*/

.Perfil-Editar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.position-Btn {
    margin-top: -22px;
    width: 30px;
    height: 0px;
    text-align: center;
    position: relative;
   
}
.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal2-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal2-content p {
    margin-bottom: 20px;
  }
  
  .accept-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .accept-btn:hover {
    background-color: #45a049;
  }
  
