* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #000000;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.publicacion-cometario {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 20px; /* Espacio entre elementos */
    background: transparent;
    padding: 0;
    justify-content: space-between;
}

.publicacion-realizada .usuario-publico .contenido-publicacion {
    margin-left: 1rem;
}

.publicacion-realizada .contenido-publicacion ul {
    list-style: none;
    font-size: 0.8em;
    color: #909090;
}

.menu-comentario {
    background: black;
}

.descripcion {
    padding: 4px;
}

.menu-comentario:hover {
    background: #112d6b;
}

.comentarios-usuarios .usuario-comentario .menu-comentario {
    top: 5px;
    right: -15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.comentarios-usuarios .usuario-comentario:hover .menu-comentario {
    display: flex;
}

.publicacion-realizada .menu-comentario {
    display: flex;
    right: 0;
}

.menu-comentario .menu {
    list-style: none;
    position: absolute;
    right: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 200ms;
}

.menu-comentario:hover .menu {
    opacity: 1;
    visibility: visible;
}

.menu-comentario .menu a {
    display: block;
    padding: 7px 15px;
    color: inherit;
}

.menu-comentario .menu a:hover {
    background-color: #112d6b;
}

.publicacion-realizada {
    background-color: black;
    color: gray;
    border-radius: 12px;
    padding: 10px; /* Reducir el padding */
    margin: 0 auto; /* Centrar horizontalmente */
    width: 100%;
    height: auto;
}

.publicacion-realizada .usuario-publico {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
    justify-content: space-between;
}

.publicacion-realizada .archivo-publicado img {
    max-width: 100%; /* Hacer que la imagen se ajuste al contenedor */
    height: 50vh; 
    object-fit: cover;
}

.publicacion-comentario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    gap: 20px; /* Espaciado entre las tarjetas */
}

.textarea-container {
    position: relative;
}

.textarea-container textarea {
    width: 100%;
}

.textarea-container textarea::placeholder {
    text-align: start;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    color: black; /* Puedes cambiar el color del placeholder según tu preferencia */
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

.area-comentar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: -0.5rem;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 2px;
    width: 50%;
    padding: 27px;
    border-radius: 12px;
    margin-top: 3px;
}

.comentar-publicacion .avatar, .publicacion-realizada .usuario-publico .avatar, .contenedor-comentarios .comentario-principal-usuario .avatar, .area-comentar .avatar {
    display: flex;
    width: 65px;
    height: 65px;
    background-color: #F4F4F4;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 0.4rem;
}

.boton-subir-archivo {
    position: static;
    display: inline-block;
}

.area-comentario ::placeholder {
    padding-left: 10px;
}

.contenedor-comentarios .comentario-principal-usuario .texto, .area-comentar .inputs-comentarios .area-comentario {
    border: 0;
    margin-top: 0.8rem;
    background-color: #F0F0F0;
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.contenedor-comentarios .comentario-principal-usuario .comentario,
.area-comentar .inputs-comentarios {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: .5rem;
}

.botones-comentario {
    display: flex;
    justify-content: flex-end; /* Centra los botones a la derecha */
}

.botones-comentario button {
    display: inline-block;
    border: 0;
    padding: 8px 12px; /* Ajusta el padding según necesites */
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: #000000; /* Color de fondo */
    color: #fff; /* Color de texto */
    transition: background-color 0.3s; /* Transición al cambiar el color de fondo */
    margin-top: 8px; /* Margen superior */
    margin-left: 10px; /* Espacio entre los botones */
}

.boton-file,
.boton-enviar {
    margin-top: 8px;    
}

.boton-file, .boton-enviar {
    display: inline-block;
    border: 0;
    padding: 7px 15px;
    margin-right: 0.5rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color ease-in 200ms;
}

.boton-subir-archivo input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.botones-comentar {
    gap: 7px;
}

.area-comentar .inputs-comentarios .botones-comentar {
    display: flex;
    justify-content: flex-end;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width:50%;
    height: 17rem;
    background-image: linear-gradient(45deg, black, white);
    border-radius: 20px 20px  20px 20px;
    overflow: hidden;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 4px;
    left: calc(50% - 90px);
    z-index: 0;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    z-index: 0;
}

.avatar img{
    object-fit: cover;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.perfil-usuario-body {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.perfil-usuario-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.perfil-usuario-bio .personal-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.info{
    font-size: 1em;
    color: #fff;
}

.infor{
    font-size: 1.5em;
    color: #2563eb;
}

.perfil-usuario-bio .Name,
.perfil-usuario-bio .Phone,
.perfil-usuario-bio .Email {
    color: black;
    font-size: 1em;
    margin-bottom: 0.5rem;
}

.perfil-usuario-bio .texto {
    color: black;
    font-size: 1em;
    text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #000000;
    border-radius: 15px;
    width: 100%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto; /* Hace que el contenido se desplace si es necesario */
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}


/*Media Quaries*/


@media screen and (max-width: 480px) {
    .publicacion-cometario {
        width: 100%; /* Cambia el ancho al 100% para ocupar todo el ancho disponible */
    }

    .area-comentar {
        width: 100%; /* Cambia el ancho al 100% para ocupar todo el ancho disponible */
    }

    

    .perfil-usuario-portada {
        width: 100%; /* Cambia el ancho al 100% para ocupar todo el ancho disponible */
        height: 10rem; /* Reducir la altura de la imagen de portada */
    }

    .perfil-usuario-avatar {
        width: 120px; /* Reducir el tamaño del avatar */
        height: 120px; /* Reducir el tamaño del avatar */
        bottom: -20px; /* Ajustar la posición del avatar */
    }

    .perfil-usuario-avatar img {
        width: 100%; /* Ajustar el ancho de la imagen del avatar */
        height: 100%; /* Ajustar el alto de la imagen del avatar */
    }
    .seccion-perfil-usuario .perfil-usuario-avatar{
        width: 100px;
        height: 100px;
        margin: 0;
        margin-left: 43px;
    }
    .seccion-perfil-usuario .perfil-usuario-portada{
        width: 100%;
        height: 200px;
    }
    .perfil-usuario-body1 {
        width: 85%;
      }

      
}
